img {
  width: 100%;
}

body {
  background-color: #bbbbbb;
}

.logoLight {
  /*width: 40%;*/
  padding: 20px;
  margin-left: -20px;
}
.logoDark {
  /*width: 30%;*/
  padding: 20px;
}

.navbar {
  background-color: #ffffff;
}
.nav>li {
  position: relative;
  display: inline-table;
}

.navbar-brand{
  position: relative;
  width: 400px;
  height: 100px;
  float: left;
  background-size: contain;
}
.navbar-brand-foot{
  position: relative;
  width: 100px;
  height: 80px;
  left: 15px;
  background-size: contain;
}


.fa.fa-edit {
  color: #18a2b9;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 90px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.text-panel {
  width: 50%;
  left: 0px;
  margin-top: 2%;
  height: 86vh;
  float: left;
  background-color: skyblue;
}

.caption {
  text-align: center;
  align-items: center;
  padding-top: 20%;
}

.caption h3 {
  font-weight: lighter;
}

.uploadBook {
  padding-bottom: 150px;
}

.navbar-pills li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  border-top: 2px solid #eaeaea;
  background-color: darkslategray;
}